<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.moviepedia">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PhotoAct"></activity>
        <activity android:name=".WebActivity"></activity>
        <activity
                android:name=".AccountAct"
                android:screenOrientation="portrait"></activity>
        <activity
                android:name=".LoginAct"
                android:screenOrientation="portrait"></activity>
        <activity
                android:name=".FifthAct"
                android:screenOrientation="portrait"></activity>
        <activity
                android:name=".FourthAct"
                android:screenOrientation="portrait"></activity>
        <activity
                android:name=".ThirdAct"
                android:screenOrientation="portrait"></activity>
        <activity
                android:name=".SecondAct"
                android:screenOrientation="portrait"></activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>